
.inputField {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: relative;
}

.inputField > input {
    margin-top: 25px;
    padding: 10px 20px 10px 8px;
    outline: none;
    border: 2px solid var(--accent);
    border-radius: 15px;
    display: inline-block;
}

.inputField > input:focus {
    box-shadow: 1px 1px 25px var(--secondary);
}

.inputField > label {
    position: absolute;
    top: 0.5px;
    left: 5px;
}

.formBox {
  min-height: 58vh;
  max-height: auto;
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: var(--secondary);
  box-shadow: 4px 6px 6px var(--accent);
  color: var(--text);
  padding: 2.5rem;
  margin: 1rem;
  min-width: 20px;
  border-radius: 10%;
}

.formBox > h1 {
  font-family: "Delius", Arial, Helvetica, sans-serif;
}

.formBtn {
    text-transform: uppercase;
    font-size: 1rem;
}

.formBtn:hover {
    cursor: pointer;
    background-color: var(--button-hover-bg);
    color: whitesmoke;
}