.polka {
    background-image:
        radial-gradient(rgb(255, 255, 255) 12%, transparent 12%),
        radial-gradient(rgb(255, 255, 255) 12%, transparent 12%);
    background-position: 0px 0px, 104px 104px;
    background-size: 208px 208px;
    background-color: rgb(17, 34, 122);
}

.main {
    display: grid;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.tab {
    background-color: white;
    border-radius: 50px;
    padding: 3.5rem;
    border: 2px solid var(--accent);
    width: 25rem;
    justify-content: center;
    align-content: center;
}

.bar {
    margin-left: -30px;
    padding: 5px 20rem 5px 5px;
    max-width: 120px;
    background-color: #999999;
}

body {
    padding: 0;
}