.chat {
    text-align: left;
}

.messagesSection{
    padding: 20px;
}

.message {
    background-color: var(--accent);
    color: #fff;
}

.message::before {
    border: 0.25px solid var(--accent);
}