.profileTab {
    display: flex;
    background-color: var(--secondary);
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}


.info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-right: 10%;
}

.info > section:first-child {
    font-weight: bolder;
}

.icon {
    border: 1px solid var(--accent);
    border-radius: 25px;
    padding: 11px;
}