.profileTab {
    display: flex;
    border: 1.5px solid var(--secondary);
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

@media screen and (max-width: 472px) {
    .info>section:first-child {
        font-size: 0.8em;
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-right: 10%;
    color: white ;
}

.info>section:first-child {
    font-weight: bolder;
}

.icon {
    border: 1px solid var(--accent);
    border-radius: 25px;
    padding: 11px;
    min-width: calc(var(--spacing) * 14);
    min-height: calc(var(--spacing) * 14);
}