.button {
    display: flex;
    border: 1px solid var(--secondary);
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 1rem;
    text-align: center;
    justify-self:center;
    max-width: 100%;
}

@media screen and (max-width: 472px) {
    .button {
        width: 140px;
    }
}

.button p {
    display: flex;
    gap: 1rem;
    text-align: center;
}

.icon {
    min-width: calc(var(--spacing) * 8);
    min-height: calc(var(--spacing) * 8);
    max-width: calc(var(--spacing) * 8);
    max-height: calc(var(--spacing) * 8);
}