@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

@import "tailwindcss";
@plugin "daisyui";

:root[data-theme="light"] {
    --background: #F8F4FF;
    --text: #1D1A31;
    --title: var(--primary);

    --primary: #7E6A9B;
    /* Fantasy Blue */
    --accent: #7A1122;
    /* Deep Romantic Red */
    --secondary: #FFB7D5;
    /* Aesthetic Pink */

    --button-bg: transparent;
    --button-border: var(--accent);
    --button-hover-bg: var(--accent);
    --button-hover-text: var(--background);
}


:root[data-theme="dark"] {
    --background: #0D0A1C;
    --text: #EDEDED;
    --title: var(--primary);

    --primary: #674882;
    /* Fantasy Blue */
    --accent: #7A1122;
    /* Deep Romantic Red */
    --secondary: #ea80ac;
    /* Aesthetic Pink */

    --button-bg: transparent;
    --button-border: var(--accent);
    --button-hover-bg: var(--accent);
    --button-hover-text: var(--background);
}


body, html {
    margin: 0;
    background-color: var(--background);
    font-family: 'Delius', Arial, Helvetica, sans-serif;
    color: var(--text);
    text-align: center;
}

h1 {
    font-family: "Zain", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

input {
    background-color: inherit;
}

.main-title {
    font-size: 7rem;
    color: var(--title);
    text-shadow: 3px 1px 2px var(--secondary);
}

.main-btn {
    background-color: var(--color-pink-300);
    border: 2px solid var(--accent);
    font-size: 1.3rem;
    text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
        #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
}

.main-btn:hover {
    box-shadow: 3px 1px 2px var(--accent);
}

.main-page {
    text-align: center;
    justify-content: center;
}

.primary-bg {
    background-color: var(--primary);
}

.secondary-bg {
    background-color: var(--secondary);
}

.accent-bg {
    background-color: var(--accent);
}

.primary {
    color: var(--primary);
}

.secondary {
    color: var(--secondary);
}

.accent {
    color: var(--accent);
}