.body {
    max-width: 800px;
    min-width: 50px;

}

html {
    background-color: var(--background);
}

.bg {

    background-color: var(--background)
}

@media screen and (max-width: 345px) {
    .body {
        padding-right: 0px;
    }
}